* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.game {
  overflow: hidden;
  height: 100vh;
  background: linear-gradient(270deg, #09251e, #46635c);
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  transition: margin 0.5s ease-out;
}

.screen.up {
  margin-top: -100vh;
}

.game__title {
  font-size: 48px;
  background-color: #333;
  padding: 10px 30px;
  color: #fff;
  margin-bottom: 25px;
  border-radius: 20px;
}

.start {
  font-size: 36px;
  color: #fff;
  text-decoration: none;
  background-color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
}

.start:hover {
  color: #13cfa0;
}

.time__list {
  display: flex;
  gap: 20px;
  list-style-type: none;
}

.time__btn {
  border: none;
  background-color: #09251e;
  color: aliceblue;
  padding: 10px 20px;
  cursor: pointer;
}

.time__btn:hover {
  color: #13cfa0;
}

.game__time {
  margin-bottom: 15px;
  font-size: 26px;
  color: #71cf13;
}

.board {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 30px;
  background-color: #09251e;
}

.game__new {
  border: none;
  background-color: #09251e;
  color: aliceblue;
  padding: 10px 20px;
  cursor: pointer;
}

.hide {
  opacity: 0;
  transition: opacity 0.5s linear;
}
.circle {
  background-image: url("./ball.svg");
  position: absolute;
  background-size: cover;
  cursor: pointer;
}
